html, body{
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#preview {
	width: 200px; 
	display: block;
	margin-left: 1rem;
}

header{
	height: 25vh;
	background-color: #e5e5e5;
	margin-bottom: 2rem;
}

h1{
	margin-top: 0;
	padding: 1rem 0 0 1rem;
}

header > p {
	padding-left: 1rem;
	margin: 0;
}

.formUpload{
	margin: 1rem;
}

.sendFile{
	border: none;
	background-color: #212529;
	border-radius: 5px;
	padding: 0.6rem;
	color: white;
	font-weight: bold;
}

.comment{
	margin-left: 1rem;
	margin-top: 2rem;
	font-weight: bold;
}